.graph{  
  -webkit-perspective: 500px; 
  perspective: 500px;
  background: gray;
}

.srinivas{
  color:black;
  
  width:420px;
  height:250px;
  
  font-family: 'Oswald', sans-serif;
  font-size:9em;
  line-height:1;
  margin:0;
  padding:0;
  
  -webkit-transform: rotateX(25deg) rotateY(20deg) rotateZ(-3deg); 
  transform: rotateX(25deg) rotateY(20deg) rotateZ(-3deg);  
  
  position:absolute;
  left:50%;
  top:50px;
  margin-left:-180px;
  
  -webkit-animation: anim 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count:infinite;
  
  animation: anim 3s;
  animation-timing-function: linear;
  animation-iteration-count:infinite;
}

@-webkit-keyframes anim {
    0%{text-shadow:-6px 4px 0px red;}
    10% {text-shadow:4px -6px 0px green;}
    20% {text-shadow:-9px 4px 0px blue;}
    30% {text-shadow:4px -6px 0px yellow;}
    40% {text-shadow:-8px 4px 0px orange;}
    50% {text-shadow:4px 5px 0px purple;}
    60% {text-shadow:-6px 4px 0px brown;}
    70% {text-shadow:4px 7px 0px pink;}
    80% {text-shadow:-9px -4px 0px lime;}
    90% {text-shadow:4px -6px 0px cyan;}
    100% {text-shadow:-9px 4px 0px teal;}
} 

@keyframes anim {
    0%{text-shadow:-6px 4px 0px red;}
    10% {text-shadow:4px -6px 0px green;}
    20% {text-shadow:-9px 4px 0px blue;}
    30% {text-shadow:4px -6px 0px yellow;}
    40% {text-shadow:-8px 4px 0px orange;}
    50% {text-shadow:4px 5px 0px purple;}
    60% {text-shadow:-6px 4px 0px brown;}
    70% {text-shadow:4px 7px 0px pink;}
    80% {text-shadow:-9px -4px 0px lime;}
    90% {text-shadow:4px -6px 0px cyan;}
    100% {text-shadow:-9px 4px 0px teal;}
} 



.techfont{
  font-family: 'Russo one' ,sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.bigbrand{
  font-size: 1.5em;
}
.loader {
  filter:hue-rotate(0deg);
  color:linear-gradient(45deg,#0f8,#08f);
  animation:hue 10000ms infinite linear;
}
@keyframes spinify {
  0% {
    transform: translate(0px,0px);
  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;
  }
   66% {
    transform:translate(0px,-16px);
  }
   88% {
    transform:translate(0px,4px);
  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}
}
#logo{
  position:'fixed' ,sticky;
}
